<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.toeic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.lesson.lesson_part3"></activity>
        <activity android:name=".activity.part3" />
        <activity android:name=".activity.lesson.lesson_part2" />
        <activity android:name=".activity.part2" />
        <activity android:name=".activity.lesson.getPoint" />
        <activity android:name=".activity.lesson.practice_part1" />
        <activity android:name=".activity.words" />
        <activity android:name=".activity.part1" />
        <activity android:name=".activity.lesson.lesson_part1" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>